extends ../layouts/_index.jade

block body
    #container__somecode.container__somecode
        
        h1.half Some Code
        .grid
            a(href="https://github.com/schmidtsonian/Games/", target="_blank". title="Falling Skyes").block.block--1.flex-container
                h2 Falling Skyes
                h3 Cross mobile game excercice
                ul
                    li #CoronaSDK
                    li #GitHub
            a(href="http://codepen.io/schmidtsonian/pen/GodGNj", target="_blank". title="Chipmunk CSS").block.block--2.flex-container
                h2 Chipmunk CSS
                h3 Drawing with pure CSS excercice
                ul
                    li #CSS
                    li #Codepen
            a(href="https://github.com/schmidtsonian/estebanco", target="_blank". title="estebanco.com source code").block.block--3.flex-container
                h2 estebanco.com source code
                h3 Personal page experiment
                ul
                    li #css
                    li #html
                    li #typescript
            // a(href="#", target="_blank". title="").block.block--4.flex-container
            //     h2 title 4
            //     h3 description
            //     ul
            //         li #tag1
            //         li #tag2
            //         li #tag3
            // a(href="#", target="_blank". title="").block.block--5.flex-container
            //     h2 title 5
            //     h3 description
            //     ul
            //         li #tag1
            //         li #tag2
            //         li #tag3
            // a(href="#", target="_blank". title="").block.block--6.flex-container
            //     h2 title 6
            //     h3 description
            //     ul
            //         li #tag1
            //         li #tag2
            //         li #tag3
            // a(href="#", target="_blank". title="").block.block--7.flex-container
            //     h2 title 7
            //     h3 description
            //     ul
            //         li #tag1
            //         li #tag2
            //         li #tag3
            // a(href="#", target="_blank". title="").block.block--8.flex-container
            //     h2 title 8
            //     h3 description
            //     ul
            //         li #tag1
            //         li #tag2
            //         li #tag3
            // a(href="#", target="_blank". title="").block.block--9.flex-container
            //     h2 title 9
            //     h3 description
            //     ul
            //         li #tag1
            //         li #tag2
            //         li #tag3
            // a(href="#", target="_blank". title="").block.block--10.flex-container
            //     h2 title 10
            //     h3 description
            //     ul
            //         li #tag1
            //         li #tag2
            //         li #tag3