/**
 * Description: BASE
 * Version: 1.0.0
 * Last update: YYYY/MM/DD
 * Author: User Name <username@gmail.com>
 *
 * Summary:
 *
 *	0. ELEMENT
 *		- 0.1. TYPE ELEMENT
 *		- 0.2. TYPE ELEMENT
 *	1. ELEMENT
 *		- 1.1. TYPE ELEMENT
 *		- 1.2. TYPE ELEMENT
 */

/* ==========================================================================
   0. BODY
   ========================================================================== */
body, html {
  height: 100%;
}

body {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  overflow: hidden;
}
*{
   color: $color-brown;
}
.main-container{
    overflow: auto;
}

/* ==========================================================================
   0. TITLES
   ========================================================================== */

h1, h2, h3, h4{
   font-family: 'Oswald', sans-serif;
   font-weight: 400;
}

h1, h2{
   display: block;
   width: 100%;
   text-align: center;
}
h1{
   font-size: 42px;
   line-height: 42px;
   height: 42px;
}
h2{
   text-transform: uppercase;
   font-size: 28px;
   line-height: 28px;
   height: 28px;
   span{
      color: $color-red;
   }
}
