.container__aboutme{
    height: 300%;
    background-color: $color-cream;
    header{
        h1{
            font-size: 16px;
        }
        .half{
            height: 50%;
            &:first-child{
                justify-content: space-around;
                display: flex;
                align-items: flex-end;
            }
        }
    }
    .full:nth-child(2){ 
        top: 100%;
        background-color: $color-blue;
        h2{ 
            color: white;
            span{color:#46433A;} 
        }
    }
    .full:nth-child(3){ 
        top: 200% 
    }
}