$g1: #113F8C;
$g2: #01A4A4;
$g3: #00A1CB;
$g4: #61AE24;
$g5: #D0D102;
$g6: #32742C;
$g7: #D70060;
$g8: #E54028;
$g9: #F18D05;
$g10: #616161;

$grid-colours: $g1, $g2, $g3, $g4, $g5, $g6, $g7, $g8, $g9, $g10; 

.container__somecode{
    header{background-color: $color-cream;}
    .grid{
        position: absolute;
        width: 100%;
        top: 100%;
    }
    .block{
        width: 25%;
        height: 235px;
        float: left;
    }
    @for $i from 1 through length($grid-colours){
        .block--#{$i}{
            background-color: nth($grid-colours, $i);
        }
    }
    h1{
        display: block;
        height: 100px;
        line-height: 100px;
        span{
            color: $color-red;
        }
    }
    h2, h3, li{
        color: white;
    }
    h2{
        height: auto;
        font-size: 16px;
    }
    h3{
        text-align: center;
    }
    h2, h3, ul{
        padding: 0 10px;
        width: auto;
    }
    li{
        display: inline;
        font-size: 12px;
    }
}

// @media screen and (max-width: 890px) {
//     .container__somecode{
//         .block{
//             width: 25%
//         }
//     }
// }
@media screen and (max-width: 760px) {
    .container__somecode{
        .block{
            width: 50%
        }
    }
}
@media screen and (max-width: 480px) {
    .container__somecode{
        .block{
            width: 100%
        }
    }
}