extends ../layouts/_index.jade

block body
    #container__aboutme.container__aboutme
        .full
            h1 About me
            h2 Hello, my name is Esteban
        .full
            h2 I'm a Front End Developer from Mexico
        .full
            h2 Dev socializing
            ul
                li
                    a(href="https://github.com/schmidtsonian", target="_blank", title="@schmidtsonian on Github") GitHub
                li
                    a(href="http://codepen.io/schmidtsonian/", target="_blank", title="@schmidtsonian on Codepen") Codepen
            
            
       