extends ../layouts/_index.jade

block body
    #container__aboutme.container__aboutme
        header.full.flex-container
            h1#js-aboutme-title.half About me
            h2#js-aboutme-subtitle.half hello, my name is <span>Esteban</span>
        .full.flex-container
            h2 I'm a <span>Front-End Web Developer</span> from Mexico
        .full.flex-container
            h2 <span>Dev</span> socializing
            ul
                li
                    a(href="https://github.com/schmidtsonian", target="_blank", title="@schmidtsonian on Github") GitHub
                li
                    a(href="http://codepen.io/schmidtsonian/", target="_blank", title="@schmidtsonian on Codepen") Codepen
            
            
       