extends ../layouts/_index.jade

block body
    #container__aboutme.container__aboutme.full
        .full
            h1 About me
            h2 I'm a Front End Developer from Mexico
        .full
            
            
       