extends layouts/_index.jade

block body
    #container__home.container__home.full
        .cols-2.cols-home
            .col.col-home
                .rows-2.rows-home
                    
                    section#block-home.row
                        - for ( var i = 1; i <= 12; i++)
                            span(class="block-home-#{i}")
                        
                        div
                            .center-left.block
                            .center-right.block
                        
                        header
                            - for ( var i = 1; i <= 3; i++)
                                h1.center Estebanco
                                
                        p.subtitle <i> C</i><i> S</i><i> S</i><i> 3</i>
                    
                    a#block-about.row(href="about-me/", title="About Me", class="pushstate")
                        .bg.full-all
                            - for ( var i = 0; i <= 103; i++)
                                .circle.center(id="c-#{i}")
                            
                        header
                           h2.center About <span>Me</span>
                        p.subtitle <i> G</i><i> R</i><i> E</i><i> E</i><i> N</i><i> S</i><i> O</i><i> C</i><i> K</i>
                    
            
            .col.col-home
                .rows-2.rows-home
                     a#block-code.block-code.row(href="some-code/", title="Some Code", class="pushstate")
                        header
                            h2(class="center") Some <span>Code</span>
                     a#block-experiments.block-experiments.row(href="https://es.pinterest.com/schmidtsonian/some-experiments/", target="_blank", title="Some Experiments")
                            h2.center Some <span>Experiments</span>
                            
                     
                
