extends layouts/_index.jade

block body
    #container__home.full
        .cols-2.cols-home
            .col.col-home
                .rows-2.rows-home
                    
                    section#block-home.row
                        - for ( var i = 1; i <= 12; i++)
                            span(class="block-home-#{i}")
                        
                        div
                            .center-left.block
                            .center-right.block
                        
                        header
                            - for ( var i = 1; i <= 3; i++)
                                h1.center Estebanco
                                
                        p.subtitle
                            i C
                            i S
                            i S
                            i 3
                    
                    section#block-experiments.row
                        a(href="some-experiments/", title="Some Experiments")
                            h2.center Some <span>Experiments</span>
                    
            
            .col.col-home
                .rows-2.rows-home
                     
                     a#block-about.row(href="about-me/", title="About Me")
                        .bg.full-all
                            - for ( var i = 0; i <= 103; i++)
                                .circle.center(id="c-#{i}")
                            
                        header
                           h2.center About <span>Me</span>
                        p.subtitle
                            i G
                            i R
                            i E
                            i E
                            i N
                            i S
                            i O
                            i C
                            i K
                     
                     section#block-code.row
                        header
                            a(href="some-code/", title="Some Code")
                                h2(class="center") Some <span>Code</span>
                
