.full.main-loader.flex-container
    h6 
        span T
        span h
        span e 
        
        span g
        span o
        span b
        span l
        span i
        span n
        span s 
        
        span a
        span r
        span e 
        
        span l
        span o
        span a
        span d
        span i
        span n
        span g 
        
        span t
        span h
        span e 
        
        span w
        span e
        span b
        span s