nav#main-navigation.main-navigation.full.flex-container
    a(href="/", title="Home").pushstate Home
    a(href="/about-me", title="About me").pushstate About me
    a(href="https://es.pinterest.com/schmidtsonian/some-experiments/", target="_blank", title="Some Experiments").pushstate Some experiments
    a(href="/some-code", title="Some code").pushstate Some code

#button-menu.button-menu
    span
    span
    span