nav#main-navigation.main-navigation.full.flex-container
    a(href="/", title="Home").pushstate Home
    a(href="/about-me", title="About me").pushstate About me
    a(href="/some-experimets", title="Some experiments").pushstate Some experiments
    a(href="/some-code", title="Some code").pushstate Some code

#button-menu.button-menu
    span
    span
    span